// Core & Helpers
@import "core/reset";
@import "core/mixins";
@import "core/reusables";

// Components
@import "components/navbar";
@import "components/hero";

body {
  font-family: "Inter", sans-serif;
  color: white;
  background-image: url("../images/bg.png");
  background-size: cover;
}
