.hero {
  display: flex;
  flex-direction: column-reverse;

  @include for-md-up {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    height: 50%;
  }

  .text-area {
    width: 100%;
    text-align: center;
    position: relative;
    z-index: 1;
    @include for-sm-up {
      text-align: left;
    }
    @include for-lg-up {
      width: 57%;
    }
    .heading {
      text-transform: uppercase;
      font-size: 13px;
      font-weight: 500;
      line-height: 16.9px;
      letter-spacing: 8%;
      color: #ffffff80;
      @include for-md-up {
        font-size: 16px;
        line-height: 20.8px;
      }
    }
    h1 {
      font-size: 38px;
      font-weight: 700;
      line-height: 47.39px;
      letter-spacing: -2.7%;
      margin: 0;
      @include for-md-up {
        font-size: 51px;
        font-weight: 700;
        line-height: 62px;
        letter-spacing: -4.3%;
      }
      @include for-md-up {
        font-size: 51px;
        line-height: 62px;
        letter-spacing: -4.3%;
      }
      @include for-lg-up {
        font-size: 90px;
        font-weight: 800;
        line-height: 100.8px;
        letter-spacing: -5.5%;
      }
    }
    .subtitle {
      font-size: 16px;
      font-weight: 400;
      line-height: 26px;
      max-width: 504px;
      @include for-md-up {
        font-size: 21px;
        font-weight: 300;
        line-height: 33.56px;
        letter-spacing: -0.7%;
      }
    }
  }

  .visuals {
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-bottom: 30px;
    border: 1px solid #fff;

    @include for-lg-up {
      width: 38%;
    }
    @include for-md-up {
      margin-bottom: 0;
    }
    @include for-lg-up {
      width: 600px;
      position: absolute;
      right: 0;
    }
    &::after {
      padding-top: 56.25%;
      display: block;
      content: "";
    }
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}
